.form {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.input {
    background: white;
    color: black;
    width: 240px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 20px;
    padding: 6px;
}

.input:focus {
    outline: none;
}

.btn {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 6px;
    box-sizing: content-box;
    transition: 0.5s;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}